DB_NAME="your_value_here"
DB_USER="your_value_here"
DB_PASSWORD="your_value_here"
DB_HOST="your_value_here"
DB_PORT="your_value_here"

QDRANT_HOST ="your_value_here"
QDRANT_PORT ="your_value_here"

HF_TOKEN ="your_value_here"